# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np 
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [9]:
# Your code here:
pokemon_data = pokemon.copy()

In [10]:
pokemon_data.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
# Your code here:
pokemon_legendary = pokemon_data.loc[pokemon_data['Legendary'] == True]
pokemon_legendary

mu_leg = pokemon_legendary['Total'].mean()
sigma_leg = pokemon_legendary['Total'].std()
print(f'media muestra: {mu_leg}, desviaci贸n estandar muestra: {sigma_leg}')

media muestra: 637.3846153846154, desviaci贸n estandar muestra: 60.93738905315346

In [14]:
pokemon_non_legendary = pokemon_data.loc[pokemon_data['Legendary'] == False]
pokemon_non_legendary

mu_non_leg = pokemon_non_legendary['Total'].mean()
sigma_non_leg = pokemon_non_legendary['Total'].std()
print(f'media muestra: {mu_non_leg}, desviaci贸n estandar muestra: {sigma_non_leg}')

media muestra: 417.21360544217686, desviaci贸n estandar muestra: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Your code here:
from scipy.stats import ttest_ind


poke_leg = pokemon_data[pokemon_data['Legendary'] == True].Total
poke_non_leg = pokemon_data[pokemon_data['Legendary'] == False].Total

In [19]:
ttest_ind(poke_leg, poke_non_leg)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#Como se habia confirmado previamente con la revision inicial de las medias de la muestra, ambas muestras tienen 
#una media diferente, en este caso se concluye que la Hipotesis nula es rechazada

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [22]:
# Your code here:
pokemon_type_water = pokemon_data.loc[pokemon_data['Type 1'] == 'Water']
mu_water = pokemon_type_water['Total'].mean()
sigma_water = pokemon_type_water['Total'].std()
print(f'media muestra: {mu_water}, desviaci贸n estandar muestra: {sigma_water}')

media muestra: 430.45535714285717, desviaci贸n estandar muestra: 113.18826606431458

In [23]:
pokemon_type_water.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
std,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800
min,7.000000,200.000000,20.000000,10.000000,20.000000,10.000000,20.000000,15.000000,1.000000
25%,130.000000,328.750000,52.250000,53.000000,54.500000,55.000000,50.000000,50.000000,1.000000
50%,275.000000,455.000000,70.000000,72.000000,70.000000,70.000000,65.000000,65.000000,3.000000
75%,456.250000,502.250000,90.250000,92.000000,88.500000,90.500000,89.250000,82.000000,4.000000
max,693.000000,770.000000,170.000000,155.000000,180.000000,180.000000,160.000000,122.000000,6.000000

In [24]:
#Comparacion contra el resto de pokemon que no son de agua
pokemon_type_non_water = pokemon_data.loc[pokemon_data['Type 1'] != 'Water']
mu_non_water = pokemon_type_non_water['Total'].mean()
sigma_non_water = pokemon_type_non_water['Total'].std()
print(f'media muestra: {mu_non_water}, desviaci贸n estandar muestra: {sigma_non_water}')

media muestra: 435.85901162790697, desviaci贸n estandar muestra: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [26]:
# Your code here:
samp_1 = pokemon_type_water.Total
samp_2 =pokemon_type_non_water.Total
ttest_ind(samp_1, samp_2, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
# Your conclusions here:
#Como se habia confirmado previamente con la revision inicial de las medias de la muestra, ambas muestras tienen 
#una media diferente, en este caso se concluye que la Hipotesis nula es rechazada 
#pvalue es mayor a 0,05

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [33]:
# Your code here:
from scipy.stats import ttest_rel, ttest_1samp
pokemon_data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
#Inicialmente se ve que la media de ataque y defensa tienen medias diferentes.

In [34]:
ttest_rel(pokemon_data['Attack'], pokemon_data['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [35]:
ttest_rel(pokemon_data['Attack'], pokemon_data['Defense'], alternative='less')

Ttest_relResult(statistic=4.325566393330478, pvalue=0.9999914298482604)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#Como se habia confirmado previamente con la revision inicial de las medias de la muestra, ambas muestras tienen 
#una media diferente, en este caso se concluye que la Hipotesis nula es rechazada

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [36]:
# Your code here:
ttest_rel(pokemon_data['Sp. Def'], pokemon_data['Sp. Atk'])
#pvalue es mayor a 0,05

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# Your conclusions here:
#Como se habia confirmado previamente con la revision inicial de las medias de la muestra, ambas muestras tienen 
#una media diferente, en este caso se concluye que la Hipotesis nula es rechazada

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [37]:
# Your code here:

import scipy.stats as st

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: